*
{
    padding: 0;
    margin: 0;
}

#header
{
    margin: 10px;
    font-size: 14pt;
}
#header::after
{
    content: "";
    clear: both;
    display: table;
}

.floater
{
    float: left;
}

.tab_menu
{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
}

.tab_button
{
    width: 150px;
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
}

#body
{
    float: none;
}

#reload_button
{
    width: 320px;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    margin-left: 10px;
    float: none;
}
#reload_button:hover
{
    background-color: black;
    color: white;
}

.tab_button:hover
{
    background-color: black;
    color: white;
}

.minmaxTable
{
    width: 320px;
    text-align: center;
}

#infotext
{
    margin-left: 5px;
    line-height: 1cm;
}

#right_graph
{
    margin-left: 5px;
}

.tabpage
{
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
    width: 100%;
}

canvas
{
    border: 1px solid #E65858;
    border-radius:4px;
}

td
{
    padding: 2px;
}