*
{
    margin: 0;
    padding: 0;
    font-size: 1.15em;
}

#wrapper
{
    margin: 20px;
}

.caller
{
    width: 450px;
    height: 75px;
    background-color: #CCCCCC;
    color: #202020;
    border: 1px solid #202020;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
    margin-left: 10px;
}

.caller:hover
{
    background-color: #202020;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
}

#info
{
    font-size: 0.9em;
}

.online
{
    color: green;
}

.offline
{
    color: red;
}

th
{
    text-align: left;
    vertical-align: top;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid black; 
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

table 
{ 
    border-collapse: collapse; 
}

tr
{ 
    border: none; 
}

td
{
    padding: 0px 10px 0px 10px;
    border-right: 1px solid black; 
    border-left: 1px solid black;
}

#downloads, #smalltext
{
    font-size: 0.75em;
}

#error
{
    color: red;
}
